<div class="row">
    <div class="col-3">
    </div>

    <div class="col-10">
        <div class="card-header">
            <h2> Lista de Produtos </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <a href="/Produto/CadastrarProduto" class="btn btn-success">
                        Novo Produto
                    </a>
                </div>
            
            <div class="col-4">
                <select name="filtro" class="form-control">
                    <option value="0">Todas Opções</option>
                    <option value="id">Por Código</option>
                    <option value="nome">Por Nome</option>
                    <option value="qtd">Por Quantidade</option>
                </select>
            </div>
            <div class="col-4">
                <input type="text" name="busca" class="form-control"/>
            </div>
            <div class="col-2">
                <button class="btn btn-primary">Pesquisar</button>
            </div>
            </div>

            <form action="/Produto/Pesquisa"></form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Qtd em Estoque</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mouse Gamer</td>
                        <td>150</td>
                        <td>
                            <a href="/Produto/Editar/1" class="btn btn-warning">Editar</a>
                            <a href="/Produto/Editar/1" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Teclad Gamer</td>
                        <td>130</td>
                        <td>
                            <a href="/Produto/Editar/2" class="btn btn-warning">Editar</a>
                            <a href="/Produto/Editar/2" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=""></div>
</div>