@{
    ViewData["Title"] = "Minha Tela";
}

<div class="text-center">
    <p>essa é a action MinhaTela</p>
    <br>
    <img src="/images/logo.jpg">
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ezequiel</td>
            <td>24</td>
        </tr>
    </tbody>
</table>